*{
    padding: 0;
    margin: 0;
}
/*-----------Entête-----------*/
div.header{
    display: grid;
    grid-template-columns: 15vw 15vw 40vw 15vw 15vw;
    grid-template-rows: 9vh;
    background-color: white;
}


div.header a{
    text-decoration: none;
    color: black;
}

div.header div.logo a img{
    width: auto;
    height: 9vh;
}

.header div.quisen {
    text-align: center;
    font-weight: bold;
    font-family: 'miltonian';
    font-size: larger;
}
/*----------------Menu-------------------*/



body {
    background-size: 400% 400%;
    background-image: linear-gradient(45deg, rgb(0, 255, 47), rgb(25, 246, 128), rgb(7, 66, 243), rgb(16, 3, 109));
    background-attachment: fixed;
    animation: animate 14s ease infinite;
}

@keyframes animate {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}



ul#Menu{
    list-style-type: none;
}

ul#Menu li a{
    display: block;
    text-align: center;
    float: left;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    background-color:midnightblue;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    transition: transform 0.5s;
    width: 15vw;
    height: 15vh;
}

ul#Menu li a:hover{
    transform: scale(1.2);
    background-color: rgb(38, 0, 255); 
    border-radius: 15px;
}

li.boutons a{
    text-decoration: none;
    color: white;
}

ul#Menu li {
    position: absolute;
    top: 30%;
    height: auto;
}
ul#Menu li#Isen {
    left: 20%;
}

ul#Menu li#Culture{
    right: 20%;
}
/*--------------Culture G-------------*/

td.boutons{
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    background-size: 100%;
    background-position: center;
    width: 35vw;
}

table.menu{
    border-spacing: 30px;
    width: 70vw;
    margin-left: 15vw;
    margin-right: 15vw;
}


table.menu td{
    width: 100%;
    background-color: rgb(38, 0, 255);
    text-align: center;
    border: solid white 1px;
    border-radius: 15px;
    table-layout: fixed;
    height: 15vh;
    width: 35vw;
}

table.menu td a{
    display: block;
    text-decoration: none;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    padding-top: auto;
    height: 15vh;
    width: 100%;
    text-align: center;
}


table.menu td:hover{
    border-radius: 15px;
    transform: scale(1.1);
    transition: 0.2s ;
    box-shadow: 3px 3px 3px  rgb(54, 78, 119);
}

td#row_3{
margin-left: 30% ;
}

td#row_3 a{
    margin-left: auto;
    margin-right: auto;
}

/*----------------ISEN---------------*/

ul#accordéon {
    list-style-type: none;
    text-align: center;
    width: 16vw;
    height: 100px;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

ul#accordéon ul{
    padding: 0;
    list-style-type: none;
    text-align: center;
}
/*--box CNB et CIR--*/
ul#accordéon li{
    background-color: midnightblue;
    border-radius: 15px;
    margin-bottom: 5vh;
    height: 5vh;
    vertical-align: auto;
    border: solid 1px white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

/*--catégories--*/
ul#accordéon li li{
    max-height: 0;
    overflow: hidden;
    transition: all .5s;
    color: white;
    background-color:darkblue;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 0;
    border-right: solid 1px white;
    border-left: solid 1px white;
    border-bottom: none;
    border-top: none;
    margin: 0;
}

ul#accordéon li:hover  li{
    max-height: 5vh ;
}

ul#accordéon a{
    display: block;
    text-decoration: none;
    padding: 8px;
    font-size: 1,2em;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

ul#accordéon li li:hover{
    background-color: midnightblue;
}


/*--boxe du bas--*/
ul#accordéon ul li.matiere:last-child {
    border-radius: 0 0 15px 15px;
    background-color: midnightblue;
    border:none;
    height: 2vh;
 }


/*--sous catégories--*/
div.child{
    display: none;
    position: absolute;
    width: 9vw;
    top: 2.5vh;
    right: -8.9vw;
}
 
li.matiere:hover div.child{
    display: inline-block;

}


ul.CNB{
    position: absolute;
    top: 40vh;
    left: 20vw;

}

ul.CIR{
    position: absolute;
    top: 40vh;
    right: 20vw ;
}

