
#app-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 40px 20px;
  }
  
  #questions-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, max-content);
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  
  #score-container {
    position: fixed;
    right: 40px;
    top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background: rgb(13, 110, 221);
    padding: 10px 15px;
    min-width: 100px;
    min-height: 45px;
    border-radius: 10px;
  }
#start-btn{
    position: fixed;
    right: 190px;
    top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: none;
    outline: none;
    color: white;
    background: rgb(6,197,95);
    padding: 10px 15px;
    min-width: 100px;
    min-height: 45px;
    border-radius: 10px;
}
  
  #app-title {
    margin-top: 0;
    margin-bottom: 40px;
    margin: 0 0 40px 20px;
  }
.popup{
      display:none;
      position: absolute;
      top: 10%;
      left:50% ;
      transform: translate(-50%,0);
      width:550px ;
      height: max-content;
      z-index:1000 ;
      transition:all 400ms ease-out ;
    }
.popup.active{
    display:inline-block;
}
.popup.fadeout{
    opacity: 0;
    transition: all 250ms ease-out 500ms;
}